# ifcheckd - Daemon for send corosync link status to attribute

[Unit]
Description=ifcheckd daemon
After=multi-user.target

[Service]
Type=forking
PIDFile=/var/run/ifcheckd.pid
ExecStart=/usr/sbin/ifcheckd
Restart=always
TimeoutStopSec=60min
EnvironmentFile=-/etc/sysconfig/pacemaker

[Install]
WantedBy=multi-user.target
